/* Base styles */
html {
    overflow-y: scroll;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.4;
    font-size: 16px;
    padding: 0 20px;
    max-width: 600px;
    margin: 0 auto;
}

/* Typography */
a {
    color: rgb(29, 155, 240);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Layout */
#main {
    margin: 0 auto;
}

/* Components */
.nav {
    font-size: .8em;
    color: rgba(0, 0, 0, 0.3);
}

.top-nav {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-home img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.nav-x {
    font-size: 24px;
    color: #000;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    body {
        max-width: 100%;
    }
}