/* Base styles */
html {
    overflow-y: scroll;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.4;
    font-size: 16px;
    padding: 0 20px;
    max-width: 600px;
    margin: 0 auto;
}

/* Typography */
a {
    color: rgb(29, 155, 240);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Layout */
#main {
    margin: 0 auto;
}

ul {
    padding-inline-start: 20px;
}

/* Components */
.nav {
    font-size: .8em;
    color: rgba(0, 0, 0, 0.3);
}

.top-nav {
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-home img {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.nav-x {
    font-size: 24px;
    color: #000;
}

/* Blockquotes */
blockquote {
    margin: 1.5em 0;
    padding-left: 1em;
    border-left: 4px solid #eaeaea;
}

blockquote p {
    margin: 0;
}

blockquote p:first-child {
    font-style: italic;
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

blockquote p:last-child {
    opacity: 0.8;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    body {
        max-width: 100%;
    }
}

/* Timestamp */
.timestamp {
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.9em;
    margin: -0.5em 0 1.5em 0;
}