---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <h1 class="post-list-heading">Jayme Hoffman</h1>
  <h3 class="intro-heading">Product designer, developer, and entrepreneur.</h3>
  <p><a class="intro-link-all" href="https://jaymehoffman.com/about/">About me →</a></p>
  <p><a class="intro-link-all" href="https://warpcast.com/jayme">@Jayme on Farcaster →</a></p>
  <p><a class="intro-link-all" href="https://x.com/jaymehoffman">@JaymeHoffman on X →</a></p>


  <div class="tweets">
    <h1 class="post-list-heading">X</h1>
    <a class="twitter-timeline" href="https://twitter.com/jaymehoffman" data-chrome="nofooter noheader"></a>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

</div>
